<div class="flex flex-wrap w-full">
  <input #inputFileImage type="file" class="input-file-imgs" [id]="inputFileId()" title=" " [max]="3" [multiple]="true" accept="image/*" (change)="onChangeInputFile($event)" />
  @if (photoList().length < 3 && canAdd()) {
    <div class="img-size border-round-xl shadow-1 add-image flex align-items-center justify-content-center mr-3 mb-3">
      <div (click)="inputFileImage.click()" class="inner-add-image flex flex-column align-items-center justify-content-center cursor-pointer">
        <div class="text-center m-0">
          <span class="pi pi-images text-xl mb-2 opacity-80"></span>
        </div>

        <div class="m-0 opacity-80">
          <span>Adicionar</span>
        </div>
      </div>
    </div>
  }

  @if (photoList().length === 0 && !canAdd()) {
    <div class="empty-default">
      <span>Nenhuma imagem adicionada</span>
    </div>
  }

  @for(item of photoList(); track $index) {
    <img
      (click)="toggleGallery($index)"
      class="saved-image img-size fadein mr-3 mb-3 cursor-pointer"
      src="{{docsUrl}}/{{item.document.file_path}}"
      [alt]="item.document.filename"
    />
  }

  @if (photoList().length < 3 && canAdd()) {
    @for (item of getFakeList(); track item) {
      <div class=" img-size border-round-xl shadow-1 add-image flex align-items-center justify-content-center mr-3 mb-3">
        <div (click)="inputFileImage.click()" class="inner-add-image flex flex-column align-items-center justify-content-center cursor-pointer">
          <div class="text-center m-0">
            <span class="pi pi-image text-xl mb-2 opacity-80"></span>
          </div>

          <div class="m-0 opacity-80">
            <span>Adicionar</span>
          </div>
        </div>
      </div>
    }
  }
</div>


<p-galleria
  id="gallery_{{position()}}}"
  [value]="imgsUrls()"
  [(visible)]="showGallery"
  [containerStyle]="{ 'max-width': '850px', 'max-height': '600px'}"
  [circular]="true"
  [fullScreen]="true"
  [showItemNavigators]="true"
  [showThumbnails]="false"
  [(activeIndex)]="indexGallery"
>
  <ng-template #item let-item>
    <img
      [src]="item"
      style="max-width: 100%; height: auto; max-height: 600px; display: block; min-height: 400px;"
    />
  </ng-template>
</p-galleria>
