.so-item-card {
  background: var(--p-surface-50);
  height: 150px;
}

.so-item-card.reduced {
  height: 88px;
  padding-left: 5px;
  user-select: none;
  cursor: pointer;
}

.only-view {
  background: var(--p-surface-100);

  &:hover {
    background: var(--p-surface-200);
  }
}

.so-item-card.active {
  background: var(--p-surface-200);
}

.so-item-card.active.primary {
  box-shadow: inset 0 0 0 1px var(--p-primary-color) !important;
}

.so-item-card.active.info {
  box-shadow: inset 0 0 0 1px var(--p-button-info-background) !important;
}

.so-item-card.active.danger {
  box-shadow: inset 0 0 0 1px var(--p-button-danger-background) !important;
}

.so-item-card.active.warn {
  box-shadow: inset 0 0 0 1px var(--p-button-warn-background) !important;
}

.color-primary {
  color: var(--p-primary-700);
}

.number-head{
  background: var(--p-primary-700);
  color: var(--p-primary-contrast-color);
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.border-status {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 18px;
}

.border-status.info {
  background: var(--p-button-info-background);
}

.border-status.warn {
  background: var(--p-button-warn-background);
}

.border-status.primary {
  background: var(--p-primary-color);
}

.border-status.danger {
  background: var(--p-button-danger-background);
}

.status-text {
  position: absolute;
  left: 4px;
  top: calc(50% - 40px);;
  font-size: 8px;
  color: var(--color-light);
  writing-mode: vertical-lr;
  text-align: center;
  height: 80px;
  font-weight: bold;
  transform: rotate(180deg);
}

:host-context(.dark-mode) {
  .so-item-card {
    background: var(--p-surface-800);
  }

  .only-view {
    &:hover {
      background: var(--p-surface-700);
    }
  }

  .so-item-card.active {
    background: var(--p-surface-700);
  }
}

::ng-deep.card-menu-position {
  margin-left: -150px
}
